@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group" id="products-list">
        <li class="list-group-item active">
           Header
        </li>
    </ul>
</div>

@section Scripts{ 
<script src="~/js/api.js"></script>
}
